<!DOCTYPE html>
<html>
<head>
    <title>Contact - Python Developer Portfolio</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/projects">Projects</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
    </nav>

    <header>
        <h1>Contact Me</h1>
    </header>

    <section id="contact">
        <div class="container">
            <img src="static/images/me.jpeg" class="profile">
            <h2>Get in Touch</h2>
            <p>If you have any inquiries or would like to discuss potential collaboration, feel free to reach out to me:</p>
            <p>Email: <a href="mailto:sohaibmaqsood63@gmail.com">sohaibmaqsood63@gmail.com</a></p>
            <p>Phone: 03066978787</p>
        </div>
    </section>

    <footer>
        <div class="container">
            <p>&copy; 2023 My Python Developer Portfolio. All rights reserved.</p>
        </div>
    </footer>

</body>
</html>
